<launch>
	<param name="thymio_description" command="$(find xacro)/xacro '$(find ros_basics_exercise)/urdf/thymio_simple.urdf.xacro'"/>
		
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.05"/>
	<arg name="node_start_delay" default="0" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" default="false"/>
		<arg name="verbose" default="true"/>
	</include>
	
	<arg name="ns" default="/" />
	<group ns="$(arg ns)">
		<node name="thymio_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param thymio_description -model thymio -x $(arg x) -y $(arg y) -z $(arg z)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
	</group>
</launch>
