<robot name="camera"
    xmlns:xacro="https://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find ros_basics_models)/urdf/utils/inertia.xacro" />

    <xacro:property name="border_thickness" value="0.028"/>
    <xacro:property name="z_mount" value="0.7"/>
    <xacro:property name="height" value="0.07"/>
    <xacro:property name="width" value="0.015"/>
    <xacro:property name="thickness" value="0.03"/>

    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="logi_c615"/>
    </joint>
    <link name="logi_c615">

        <visual>
            <origin xyz="0 0 0" rpy="0 1.57 0"/>
            <geometry>
                <box size="${width} ${thickness} ${height}"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <geometry>
                <box size="${width} ${thickness} ${height}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${mass}"/>
            <xacro:box_inertia mass="${mass}" x="1" y="1" z="1" />
        </inertial>
    </link>

    <gazebo reference="logi_c615">
        <sensor type="camera" name="top_camera">
            <pose>0 0 0 0 1.57 1.57</pose>
            <update_rate>30.0</update_rate>
            <camera name="top">
                <horizontal_fov>1.02</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>robot_view</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>logi_c615</cameraInfoTopicName>
                <frameName>camera_link</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>

        <material>Gazebo/Black</material>
    </gazebo>

</robot>
