<launch>

    <arg name="ns" default="/" />
    <group ns="$(arg ns)">
        <node name="thymio_intf_node" pkg="ros_basics_control" type="thymio_intf_node.py" output="screen"/>
        <node name="thymio_ctrl_node" pkg="ros_basics_control" type="thymio_ctrl_node" output="screen"/>
    </group>

    <include file="$(find ros_basics_vision)/launch/thymio_tracker.launch" ns="$(arg ns)"/>

    <include file="$(find ros_basics_exercise)/launch/thymio_ctrl_cli.launch" ns="$(arg ns)" >
        <arg name="is_simu" value="false"/>
    </include>

</launch>